<div class="w3-padding-large" id="main">
<!-- Header/Home -->
<header class="w3-container w3-padding-32 w3-center w3-black" id="home">
  <h1 class="w3-jumbo"><u><span class="w3-hide-small"></span></u><%= @project.title %></h1>
  <h2><%= @project.details %></h2>
  <p></p>
</header>

<div class="w3-row w3-center w3-padding-16 w3-section w3-light-grey">
  <div class="w3-center w3-section">
    <span class="w3-xlarge"><a href="/projects/<%= @project.id %>">Current Volunteers:  </a></span><br>
    <ul style="list-style: none;">
      <% @volunteer_list.each do |volunteer| %>
        <li><a href="/volunteers/<%= volunteer.id %>"><%= volunteer.name %></a></li>
      <% end %>
    </ul>

    <a href="#"></a>
  </div>
</div>
<form action="/projects/<%= @project.id %>" method="post">
  <p><input class="w3-input w3-padding-16" type="text" placeholder="Edit Project Title" required name="title"></p>
    <input name="_method" type="hidden" value="patch">
    <button class="w3-button w3-light-grey w3-padding-large" type="submit">
      <i class="far fa-hand-peace"></i> &nbsp;&nbsp;Edit project title
    </button>
  </p>
</form>
<form action="/" method="post">
  <p><input class="w3-input w3-padding-16" type="hidden" required name="id" value="<%= @project.id %>"></p>
    <input name="_method" type="hidden" value="delete">
    <button class="w3-button w3-light-grey w3-padding-large" type="submit">
      <i class="far fa-hand-peace"></i> &nbsp;&nbsp;Delete Project&nbsp;&nbsp;&nbsp;
    </button>
  </p>
</form>
